/* ========== CONTACT FORM FIXED ========== */
body {
    padding: 0;
    margin: 0;
    font-family: "Assistant", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.contact-form {
    display: block;
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    margin-top: 50px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid input,
.form-grid textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.form-grid textarea {
    grid-column: 1 / -1;
    height: 120px;
    resize: vertical;
}

.form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid input[type="tel"] {
    grid-column: span 1;
}

.form-grid input[type="tel"] {
    grid-column: 1 / -1;
}

.form-button {
    grid-column: 1 / -1;
    margin-top: 10px;
}

.form-button button {
    padding: 12px 40px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-button button:hover {
    background-color: #383838;
}

.form-button button:active {
    transform: scale(0.88);
}



@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}


/* ============================  Navigation  =========================*/


.navigation {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    height: 70px;
    background-color: white;
    box-shadow: 1px 0.2px 1px #242833;
    z-index: 999;
    transition: transform 0.2s ease;

}

.logo img {
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
    transition: 0.4s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;
}


.logo img:hover {
    scale: 1.2;
}


.navbar {
    display: block;
    margin: auto;
    text-align: center;
}

.navigation .navbar ul {
    display: flex;
    gap: 10px;
}

.navigation .navbar ul li {
    list-style: none;
    margin: 15px;
}

.navigation .navbar ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.navigation .navbar ul li a:hover {
    font-weight: bold;
}


/* Floating Whatsapp Icon */
.whatsapp-logo img {
    position: fixed;
    width: 45px;
    top: 530px;
    left: 1280px;
    z-index: 1002;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.whatsapp-logo img:hover {

    transform: translateY(-5px);
}


.whatsapp-logo img:active {
    transform: scale(0.88);
}


/* Hide navbar when scrolling down */
.navbar-hidden {
    transform: translateY(-100%);

}