body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    padding-top: 70px;
}

/* ============================  Navigation  =========================*/

.navigation {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: white;
    box-shadow: 1px 0.2px 1px #242833;
    z-index: 999;
}

.logo img {
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    transition: 0.4s ease-in-out;
}


.logo img:hover {
    scale: 1.2;
}

.navigation .navbar ul {
    display: flex;
    gap: 10px;
}

.navigation .navbar ul li {
    list-style: none;
    margin: 15px;
}

.navigation .navbar ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}

.navigation .navbar ul li a:hover {
    font-weight: bold;
}



.nav-icons {
    display: flex;
    align-items: center;
    gap: 22px;
}


#search-icon,
#log-icon,
#cart-icon {
    width: 25px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

#search-icon:hover,
#log-icon:hover,
#cart-icon:hover {
    scale: 1.2;
}

#search-icon:active,
#log-icon:active,
#cart-icon:active {
    transform: scale(0.88);
}



/* ================= Courosel Styling here */
.carousel-item img {

    height: 100vh;
    object-fit: cover;
}


/*  ================ Announcement Scroll Animation */
.announcement {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #90EE90;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
}


/* Collections */
#collections {
    padding-left: 130px;
    padding-top: 70px;
}

#collection-heading {
    font-size: 40px;
}

.arrow {
    font-size: 15px;
}

.collection-card {
    cursor: pointer;
}

.collection-container {
    display: flex;
    gap: 8px;
}

.collection-card img {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.collection-card img:hover {
    scale: 1.01;
}