body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    padding-top: 70px;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

/* ============================  Navigation  =========================*/


.navigation {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    height: 70px;
    background-color: white;
    box-shadow: 1px 0.2px 1px #242833;
    z-index: 999;
    transition: top 0.3s ease-in-out;


}



.logo img {
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
    transition: 0.4s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;
}


.logo img:hover {
    scale: 1.2;
}


.navbar {
    display: block;
    margin: auto;
    text-align: center;
}

.navigation .navbar ul {
    display: flex;
    gap: 10px;
}

.navigation .navbar ul li {
    list-style: none;
    margin: 15px;
}

.navigation .navbar ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.navigation .navbar ul li a:hover {
    font-weight: bold;
}

#menu {
    position: fixed;
    top: 20px;
    right: 25px;
    display: none;
    margin-right: 12px;
    cursor: pointer;
}

/* navbar Responsive Code */

@media screen and (max-width:768px) {
    #menu {
        margin-left: 100px;
        display: block;
    }

    .logo {
        transform: translateX(30px);
    }

    .navigation .navbar ul {
        flex-direction: column;
        margin-top: 9px;
        display: none;
        font-size: 30px;
        text-align: center;
    }

    .navigation .navbar {

        margin-top: 42px;
    }


    .navigation {
        transition: height 0.1s ease-in-out;
    }



    .navigation .navbar ul li {
        margin: 8px;
    }

    .navigation .navbar ul li a {
        margin-top: 4px;
    }

}

/* ================= Courosel Styling here */
.carousel-item img {

    height: 100vh;
    object-fit: cover;
}


/*  ================ Announcement Scroll Animation */
.announcement {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #90EE90;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
}


/* Collections */
#collections {
    padding-left: 130px;
    padding-top: 70px;
}

#collection-heading {
    font-size: 40px;
}

.arrow {
    font-size: 15px;
}

.collection-card {
    cursor: pointer;
}

.collection-container {
    display: flex;
    gap: 8px;
}

.collection-card img {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.collection-card img:hover {
    scale: 1.01;
}


/* Feedback  */


#feedback {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;

}

.feedback-title {
    text-align: center;
    font-size: 25px;
}


.stars {
    color: goldenrod;
    font-size: 24px;
}

.feedback-text {
    font-size: 18px;
    text-align: center;
    color: #333;
    padding: 15px 20px;
    max-width: 500px;
}

.customer-name {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}


/* ============ Services ================ */
#services {
    margin-top: 70px;
    background: #F9F9F9;
}


#services .card-container {
    margin: 15px;
    display: flex;
    gap: 10px;
}

#services .card1 {
    width: 423.672px;
    height: 150.375px;
    border-radius: 12px;
    text-align: center;
    padding: 36px;
    background-color: #e8f5e9;
    border: 2px solid rgb(76, 175, 80);
    transition: 0.2s ease-out;
}

#services .card2 {
    width: 423.672px;
    height: 150.375px;
    border-radius: 12px;
    text-align: center;
    padding: 36px;
    background-color: #FFF3E0;
    border: 2px solid #FF9800;
    transition: 0.2s ease-out;
}

#services .card3 {
    width: 423.672px;
    height: 150.375px;
    border-radius: 12px;
    text-align: center;
    padding: 36px;
    background-color: #ffe0b2;
    border: 2px solid #FF5722;
    transition: 0.2s ease-out;
}

#services .card1:hover,
.card2:hover,
.card3:hover {
    transform: translateY(-25px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* Footer */
.footer {
    background-color: black;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}

.social-links img {
    width: 30px;
    margin: 8px;
    transition: 0.3s ease;
}

.social-links img:hover {
    scale: 1.2;

}



/* Collection section  responsive code  */

@media screen and (max-width:768px) {


    #collections {
        padding-left: 30px;
    }

    #collection-heading {
        padding-left: 80px;
    }

    .collection-card img {
        width: 310px;
    }

    .collection-card {
        font-size: 20px;
    }

    .collection-container {
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width:768px) {
    #services .card-container {
        flex-direction: column;

    }


    #services .card-container .card1,
    #services .card-container .card2,
    #services .card-container .card3 {
        width: 330px;
    }


    #services .card1:hover,
    .card2:hover,
    .card3:hover {
        transform: translateY(-10px);

    }


    #services .card-container {
        gap: 20px;
    }

}


/* Floating Whatsapp Icon */
.whatsapp-logo img {
    position: fixed;
    width: 45px;
    top: 530px;
    left: 1280px;
    z-index: 1002;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.whatsapp-logo img:hover {

    transform: translateY(-5px);
}


.whatsapp-logo img:active {
    transform: scale(0.88);
}


/* Whatsapp Responsive */

@media screen and (max-width:768px) {

    .whatsapp-logo img {
        bottom: 0px;
        transform: translateY(50px);
        left: 290px;

    }


}

/* Hide navbar when scrolling down */
.navbar-hidden {
    transform: translateY(-100%);

}


#btnViewAll {
    display: block;
    background: #121212;
    font-size: 15px;
    color: white;
    width: 122px;
    height: 47px;
    border-radius: 7px;
    margin: auto;
    transition: 0.2s ease;
}


#btnViewAll:active {
    transform: scale(0.98);

}


#btnViewAll:hover {
    background: rgb(57, 57, 57);
}